USE_MOCK_DB=0
ATLAS_URL=your_atlas_url
AGENT_BINARY_PATH_DARWIN_ARM64=your_agent_binary_path
AGENT_SOURCE_PATH=your_agent_source_path
SERVER_URL=https://your-backend.com

DPDP_DB_SUPABASE_HOST=db.xxxxxxxxx.supabase.co
DPDP_DB_SUPABASE_PORT=5432
DPDP_DB_SUPABASE_NAME=postgres
DPDP_DB_SUPABASE_USER=postgres
DPDP_DB_SUPABASE_PASSWORD=YOUR_ACTUAL_PASSWORD